.left {
    float: left;
}

.post img {
    width: 700px;
    height: fit-content;
    border: solid 3px black;
    transition: all 0.5s ease;
}



#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;
    width: 99%;
    height: 455px;

}

#gallery img {
    border: solid 3px black;
    height: 200px;
    width: fit-content;
    transition: all 1s ease;

}

#gallery img:hover {
    height: 450px;
    width: fit-content;
}

body {
    background-color: bisque;
}

#top {
    border: solid 2px black;
}

.post {
    border: solid 2px black;
    overflow: hidden;
}

nav a {
    border: solid 1px black;
    padding: 0 5px;
    margin: 0;
}

#content {
    border: solid 5px black;
    opacity: 0;
    transition: opacity 1s ease;
}

* {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 1s ease 0.25s;
}

#play:hover {
    opacity: 75%;
}