.post .left {
    float: left;
    margin-right: 10px;
    /* display: block; */
}

.post img {
    width: 200px;
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.gallery img {
    height: 200px;
    width: fit-content;
    transition: all 0.5s ease 0.1s;
}

.gallery img:hover {
    height: 500px;
    width: fit-content;
}

body {
    background-color: bisque;
}